*.pyc
__pycache__/
.venv/
venv/
env/
lib/
/dist/
/build/
*.egg-info/
*.egg
pip-wheel-metadata/
.pip-cache/
*.install
/site/
/node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
.nuxt/
.svelte-kit/
.npm/
.yarn/
.vscode/
.idea/
*.log
*.sqlite3
.DS_Store
Thumbs.db
ru-100k.txt
.projectile
system_log.txt
chroma_db*
memory_core_chroma_db
memory_core.chronicle.json
code*
